# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png
*.lock

# Android specific
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/app/build/
**/android/local.properties

# iOS/macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
.DS_Store
